---
layout: info-page
title: "Кой: Партньори"
banner_image: "/assets/images/backgrounds/cafe-bar-talk-cropped-bw-crop.jpg"
page_img: /assets/images/og/og-partners.png
page_title: "<i class=\"fa-solid fa-handshake\" style=\"color:#cfcfcf\"></i> Партньори"
bg_mode: fixed
bg_pos: top
text: "Партньори"
description: "Наши партньори са подбрани колеги редактори, академия за писане, професионална печатница, както и издателства, които залагат на добрата българска литература и имат ресурс да публикуват дебютни автори."
---

<div>
    Наши партньори са подбрани колеги редактори, академия за писане, професионална печатница, както и издателства, 
    които залагат на добрата българска литература и имат ресурс да публикуват дебютни автори. 
    С всеки един имаме различен тип взаимодействие. 
    В случай че проявите интерес, ще Ви дадем подробности за това как и те могат да се включат и да Ви бъдат 
    полезни по пътя към готовата книга.
</div>

<div style="display:flex;flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: center; align-items: center; ">
{% assign partners = site.partners | where: "visible", true %}
{% for partner in partners %}
    
    {% include partner-card.html partner=partner %}

{% endfor %}
</div>