---
layout: our-services
page_icon: "/assets/images/courses/student.png"
banner_image: "/assets/images/backgrounds/studying-together.png" 
text: "Обучения и срещи"
---
<style>
    .when-page h2 {
        font-size: 27px !important;
        text-transform: none !important;
    }

    .when-page p {
        font-size: 19px;
    }
</style>

<div class="when-page">
<p>На тази страница ще публикуваме информация за всички предстоящи онлайн и присъствени курсове, работилници, 
    мастър класове и срещи с писатели, както за различни творчески възможности. 
    Можете да се абонирате и да получавате информация за тях тук.</p>


{% assign today_date = "now" | date: '%s' | plus: 1 %}

{% assign past_events = "" | split: "" %}
{% assign future_events = "" | split: "" %}
{% assign all_events = site.events | where: "visible", true %}
{% for event in all_events %}
    {% assign event_date = event.start_date | date: '%s' | times: 1  %}
    {% if event_date >=  today_date %}
        {% assign future_events = future_events | push: event %}
    {% else %}
        {% assign past_events = past_events | push: event %}
    {% endif %}
{% endfor %}
{% assign future_events_count = future_events | size %}
{% assign past_events_count = past_events | size %}




{% if future_events_count > 0 %}
    <h2>Предстоящи събития</h2>
    {% for e in future_events %}
        {% include event_info.html event=e %}
    {% endfor %}
{% else %}
    <div>Очаквайте!</div>
{% endif %}


{% if past_events_count > 0 %}
    <h2>Минали събития</h2>
    {% for e in past_events %}
        {% include event_info.html event=e %}
    {% endfor %}
{% endif %}
</div>