<div class="about-person-book">
    <span class="book-cover">
    {% if include.book.link %}<a href="{{ include.book.link }}" target="_blank">{% endif %}
    <img src="/assets/images/books/{{ include.book.cover }}">
    {% if include.book.link %}</a>{% endif %}
    </span>
    <span style="position: relative; top: -7px; margin-bottom: -7px;">
        {% if include.book.quoted_title %}"{% endif %}<strong>{% if include.book.link %}<a href="{{ include.book.link }}" target="_blank">{% endif %}{{ include.book.title }}{% if include.book.link %}</a>{% endif %}</strong>{% if include.book.quoted_title %}"{% endif %} 
        {% if include.book.publishing or include.book.year %}({% if include.book.publishing %}{{ include.book.publishing }}{% endif %}{% if include.book.year %}, {{ include.book.year }}{% endif %}){% endif %}
        {% if include.book.publishing or include.book.type %}- {{ include.book.type }}{% endif %}
        <ul style="list-style-image: url('/assets/images/trophy.png');">
            {% for award in include.book.awards %}
                <li>{{ award }}</li>
            {% endfor %}
        </ul>
        {% if include.book.bulleted_info %}
        <ul>
            {% for info_line in include.book.info %}
                <li>{{ info_line }}</li>
            {% endfor %}
        </ul>
        {% else %}
            {% for info_line in include.book.info %}
                <div>{{ info_line }}</div>
            {% endfor %}
        {% endif %}      
    </span>
</div>