<!--
<div class="footer">
    <p>Copyright © 2022 СТИЛницата, <a href="https://literaturnirazgovori.com/" target="_blank" title="Литературни разговори с Антония Апостолова">ЛитературниРазговори</a> & <a href="https://alonintheworld.com/" target="_blank" title="Alon Rotem">AlonInTheWorld</a>, Ltd. All Rights Reserved. 
</p>
  </div>
-->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" style="
        padding: 12px 0px;">
          Copyright © {{ site.time | date: "%Y" }} {% include logo.html font_size=20 top=-2 left=3 %} powered by <a href="http://www.alonintheworld.com"
            target="_blank"><img style="width: 180px; margin: 0px 5px;" src="/assets/images/alon-in-the-world-animated-single-line.gif" /></a> <nobr>&amp; <a href="https://www.literaturnirazgovori.com" target="_blank" style="margin-left:5px;">Литературни Разговори</a></nobr>
        </div><!--inner footer div-->
      </div><!--.row-->
    </div><!--.container-->
  </footer>