<!--
<div class="footer">
    <p>Copyright © 2022 СТИЛницата, <a href="https://literaturnirazgovori.com/" target="_blank" title="Литературни разговори с Антония Апостолова">ЛитературниРазговори</a> & <a href="https://alonintheworld.com/" target="_blank" title="Alon Rotem">AlonInTheWorld</a>, Ltd. All Rights Reserved. 
</p>
  </div>
-->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          Copyright © {{ site.time | date: "%Y" }} {{ site.name }} &amp; <a href="http://www.alonintheworld.com"
            target="_blank">alonintheworld</a>, powered by <a href="https://www.literaturnirazgovori.com" target="_blank">Литературни Разговори</a>
        </div><!--inner footer div-->
      </div><!--.row-->
    </div><!--.container-->
  </footer>