<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<title>стилница{% if(page.title) %} | {{ page.title }} {% endif %}</title>

{% include seo-tags.html %}

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Additional CSS Files -->
<link href="/assets/css/fontawesome/fontawesome.css" rel="stylesheet">
<link href="/assets/css/fontawesome/brands.min.css" rel="stylesheet">
<link href="/assets/css/fontawesome/solid.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/templatemo-edu-meeting.css">
<!--<link rel="stylesheet" href="/assets/css/owl.css">-->
<link rel="stylesheet" href="/assets/css/lightbox.css">
<link rel="stylesheet" href="/assets/css/mastilnicata-fonts.css">

<link type="text/css" rel="stylesheet" href="/assets/css/lightslider/lightslider.min.css" />
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<link rel="stylesheet" href="/assets/css/jquery.flipster.min.css">

<link href="/assets/css/lightbox.min.css" rel="stylesheet" />

