/*

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@font-face {
  font-family: 'nicebgfontsemibold';
  src: url('../fonts/nicebgfontsemibold.woff2') format('woff'),
       url('../fonts/nicebgfontsemibold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nicebgfontsemilight';
  src: url('../fonts/nicebgfontsemilight.woff2') format('woff'),
       url('../fonts/nicebgfontsemilight.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSansRegular;
  src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}

@font-face {
  font-family: "laptev";
  src: url("../fonts/laptev/Laptev_Brush.otf")
}

@font-face {
  font-family: "karano";
  src: url("../fonts/karano/KaranoFree-Regular.otf")
}

@font-face {
  font-family: "rafale";
  src: url("../fonts/rafale/rafale-bg.otf")
}

/*
==============================================
NEW STUFF
==============================================
*/

html {
	scroll-padding-top: 86px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

.fact-list {
  margin-top: 30px;
}

.fact-list li {
  list-style-image: url(/assets/images/mastilnitsata-logo-inkpot.png);
  margin-bottom: 15px;
  margin-left: 43px;
}

.persontitle {
  color: #C4772B;
  font-size: 36px;
}

#scrollup
{
  width: 70px;
  position: fixed;
  bottom: 39px;
  right: 85px;
  display: none;
  cursor: pointer;
  z-index: 90000;
}



.jumpt-to-section {
  /*min-height: 100vh !important;
  flex-grow: 1;*/
}

.medialink .card{
  color: #1e1e1e;
  transition: transform 0.2s ease;
  height: 385px;
  border: 0;
  margin: 0px;
  
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.interviewlink .card{
  transition: transform 0.2s ease;
}

.interviewlink .card-img-top
{
  filter: grayscale(75%);
}

.interviewlink:hover .card-img-top
{
  filter: grayscale(0%);
}

.interviewlink .card-text{
  color: #1e1e1e;
  font-size:16px;
}

@media (max-width: 1200px) {
  .medialink .card{
    height: 376px;
  }
}
/*
@media (max-width: 992px) {
  .medialink .card{
    height: 484px;
  }
}
@media (max-width: 768px) {
  .medialink .card {
      height: 623px;
  }
}
*/
.medialink .img-container{
  position: relative;
}

.medialink .media-logo{
  position: absolute;
  bottom: 17px;
  right: 17px;
  width: 35px;
  border-radius: 50%;
}
.medialink .card-body {
  position:relative; 
  padding: 0;
}

.medialink .card:hover, .interviewlink .card:hover {
  transform: scale(1.1);
  z-index: 3000;
}
.medialink .card-overlay:hover {
  background: rgba(57, 57, 57, 0.6);
}


.medialink .card-overlay {
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: rgba(57, 57, 57, 0.8);
}

.medialink .card-inner {
  color: white; 
  height: 100%; 
  padding: 15px;  
  display:flex;
}

.medialink .quote-icon {
  margin: 0px 0px 30px 0px;
}

.medialink .quote-icon img {
  width:24px;
  height: 24px;
  display: block;
  margin: 0 auto 0 auto;
}

.medialink .quote-section {
  margin: auto;
  font-size: 16px;
}

.medialink .quote-person {
  margin: 30px 0px 0px 0px;
  font-size:14px;
  font-style: italic;
}


.service-content.consultation ul,
.service-content.editing ul {
  padding: 0;
  margin: 2em 0;
  list-style: none;
}

.service-content /*.consultation*/ ul li /*,
.service-content.editing ul li*/ {
  margin: 1em;
  margin-left: 3em;
}


.service-content.consultation ul li::before,
.service-content.editing ul li::before {
  font-family: "Font Awesome 6 Free";
  float: left;
  margin-left: -1.5em;
}


.service-content.consultation ul li::before {
  content: "\f098";
}

.service-content.editing ul li::before {
  content: "\e19b";
}

.service-content.publishing ul li::before {
  content: "\f57b";
}

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul {
  padding-left: 20px;
  /* margin: 0; */
  /* list-style: square; */
}

li {
  padding-left: 5px;
  /* margin: 0; */
  /* list-style: square; */
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'AlegreyaSansRegular', sans-serif;
  font-weight: 400;
  /* background-color: #cfcfcf; */
  background-image: url("/assets/images/bg-line.png");
  font-size: 19px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .highlighted-text {
  text-decoration: none !important;
  color: #C4772B;
  font-weight: bold;
}

.highlighted-text2 {
  color: #C4772B;
  background: #191d1b;
}

a:hover {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/*
p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}
*/

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  /* background-color: #cfcfcf; */
  background-image: url("/assets/images/bg-line.png");
  /*font-family: 'oswald', sans-serif;*/
  font-family: 'AlegreyaSansRegular', sans-serif;
  font-size: 19px;
  color: #cfcfcf;
}

::selection {
  background: #C4772B;
  color: #cfcfcf;
}

::-moz-selection {
  background: #C4772B;
  color: #cfcfcf;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-item a {
  font-size: 13px;
  padding: 6px 16px;
  display: inline-block;
  font-weight: 500;
  margin: 0px 10px;
  transition: all .3s;
  color: black;
}
@media (max-width: 767px) {
  .section-item a {
    margin: 0px;
  }
}

.active-section-item a {
  background-color: #C4772B;
  color: #cfcfcf;
  border-radius: 22px;
}

.main-button-red a {
  font-size: 13px;
  color: #cfcfcf;
  background-color: #C4772B;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button-red a:hover {
  opacity: 0.9;
  color:white;
}

.main-button-yellow a {
  font-size: 13px;
  color: #cfcfcf;
  background-color: #C4772B;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button-yellow a:hover {
  opacity: 0.9;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 50px; 
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250,250,250,0.15);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #cfcfcf;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/
#main-menu {
  background-color: rgba(250,250,250,0.15);
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  font-family: 'AlegreyaSansRegular', 'sans-serif';
  padding: 5px 0px;
  z-index: 200000;
  font-size: 22px;
  text-transform: uppercase; 
}

#main-menu .nav-link:not(.active) {
  color: #cfcfcf;
}

#main-menu .dropdown-item:not(.active) {
  font-weight: 400;  
}

#main-menu .dropdown-item:not(.active):hover {
  padding-left: 29px;  
}

#main-menu .dropdown-item span {
  margin-right: 5px;
}

#main-menu .dropdown-item.active {
  font-weight: 700;  
}

#main-menu .dropdown-item {
  font-size: 13px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease;
}


#main-menu:has(.toggle input:checked) {
  z-index: 2000000;
}

#main-menu .nav-item.active a,
#main-menu a.nav-link.active,
#main-menu .dropdown-toggle.active,
#main-menu.background-header .nav-item.active a,
#main-menu.background-header .dropdown-toggle.active,
#main-menu .dropdown-item.active,
#main-menu .dropdown-item.active:hover {
  color: #C4772B !important;
}

#main-menu .dropdown-item:not(.active):hover {
  background-color: #cfcfcf !important;
}

#main-menu .dropdown-item, 
#main-menu .dropdown-item:hover, 
#main-menu .dropdown-item:focus {
  background: transparent !important;
  outline: none;
  color: #1e1e1e;
}


#main-menu.background-header {
  background-color: #cfcfcf!important;
}

/*
.navbar-brand.active, .navbar-brand.active:hover {
  color: #C4772B;
}
*/

#main-menu.background-header .nav-item a:not(.active), 
#main-menu.background-header .navbar-brand {
  color: #1e1e1e;
}

@media (max-width: 990px) {
  #main-menu {
    background: #cfcfcf!important;
  }
  #main-menu .nav-item a:not(.active), 
  #main-menu .navbar-brand {
    color: #1e1e1e !important;
  }
}

#subheader-container {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

#person-subheader-pic {
  cursor: pointer;
}

.subheader
{
  visibility: hidden;
  opacity: 1;
}
.subheader img {
  margin-top: 60px; 
  position: fixed; 
  width: auto;
  z-index: 1000000;
  height: 76px;
  border-radius: 50%;
}

.subheader a {
  color: black;
  font-weight: normal;
  padding: 0px 10px;
}

.subheader a.active {
  background-color: #C4772B !important;
  color: white !important;
  border-radius: 8px;;
}

#person-fixed-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

#person-fixed-bar .list-group-item  {
  width: auto;
  margin: 0px 3px;
  border: 0;
  font-size: 15px;
  color: black;
}

@media (max-width: 768px) {
  #subheader-last-name {
      display:none;
  }
/*
  #person-nav .main-button-red a {
    font-size: 12px;
    padding: 8px 22px;    
  }
  */
}
@media (max-width: 550px) {
  #person-subheader-name {
      display:none;
  }

  #subheader-container {
    padding-left: 75px;
  }  
}

#person-subheader-pic, #person-subheader-name {
  cursor: pointer;
}

#person-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 576px) {
  #person-buttons-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #person-buttons-container .main-button-red {
    margin: 10px 0px;
  }

  #person-buttons-container .main-button-red a {
    min-width: 150px;
    text-align: center;
  }
}

/*
---------------------------------------------
about-person main page and background layout
---------------------------------------------
*/
.about-person-body {
  min-height: 100%; 
  position:relative;
}
.about-person-full-body-bg, 
.about-person-section-bg {
  background-repeat: no-repeat !important; 
  background-size: cover !important;
}

@media (max-width: 800px) {
  .about-person-full-body-bg, 
  .about-person-section-bg {
    background-position: bottom !important;
  }  
}

/*
---------------------------------------------
about-person-book
---------------------------------------------
*/
.about-person-book
{
  display: flex;
  align-items: flex-start;
  margin: 48px 0px 0px 0px
}

.about-person-book .book-cover
{
  margin-right: 14px;
}

.about-person-book .book-cover img
{
  height:132px;
  width:92px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  transition: transform 0.2s ease;
}

.about-person-book .book-cover img:hover {
  transform: scale(1.5);
  z-index: 3000;
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  position: relative;
  max-height: 700px;
  overflow: hidden;
  margin-bottom: -7px;
  font-family: 'AlegreyaSansRegular', 'sans-serif';
  margin-top: -100px;
}

#bg-video {
  min-width: 100%;
  /* min-height: 100vh; */
  max-width: 100%;
  /* max-height: 100vh; */
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(31,39,43,0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
/*
.main-banner .caption {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
}
*/
.main-banner .caption {
  position: absolute;
  top: 120px;
  /* transform: translateY(-50%); */
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #cfcfcf;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 39px;
  margin-bottom: 39px;
  font-size: 30px;
  /*text-transform: uppercase;*/
  font-weight: 800;
  color: #cfcfcf;
  letter-spacing: 1px;
  font-family: 'AlegreyaSansRegular','sans-serif';
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #C4772B;
  font-weight: 900;
}

.main-banner .caption p {
  color: #cfcfcf;
  font-size: 19px;
  max-width: 540px;
  font-family: 'AlegreyaSansRegular', 'sans-serif';
  margin-top: 30px;
}

.main-banner .caption .main-button-red a {
  /*margin-top: 30px;*/
  font-size: 17px;
  font-family: 'AlegreyaSansRegular', 'sans-serif';
}

.main-banner .caption .main-button-red .contact-button-logo {
  font-size: 22px;
}
/*
@media screen and (max-width: 1110px) {
  .main-banner .caption {
    top: 69px;
  }
}
*/
@media screen and (max-width: 992px) {
  .main-banner .caption {
    top: 110px;
  }
  section.main-banner, section.main-banner video{
    height:615px;
  }
}

@media screen and (max-width: 767px) {

  .main-banner .caption h6 {
    font-weight: 500;
  }

  .main-banner .caption h2 {
    font-size: 36px;
  }

}


/*
---------------------------------------------
services
---------------------------------------------
*/

.services {
  /* margin-top: -190px; */
  /* position: absolute; */
  width: 100%;
  /* margin: 20px 0px; */
  padding-top: 40px;
}

.services .chart-container div
{
  display:flex;
  justify-content: center;
}

/*
---------------------------------------------
testimonials
---------------------------------------------
*/

.testimonials {
  /*margin-top: -135px; 
  position: absolute; */
  margin-top: y58px;
  width: 100%;
  /*margin: 20px 0px;*/
}

.testimonials .item {
background-image: url(../images/service-item-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
border-radius: 20px;
text-align: center;
color: #cfcfcf;
padding: 40px;
min-height: 350px;
}

.testimonials .item .icon {
max-width: 78px;
margin: 0 auto;
}

.testimonials .item h4 {
margin-top: 25px;
margin-bottom: 15px;
font-size: 18px;
font-weight: 600;
}

.testimonials .item p {
color: #cfcfcf;
font-size: 16px;
}

/*
---------------------------------------------
upcoming meetings
---------------------------------------------
*/

section.upcoming-meetings {
  background-image: url(../images/meetings-bg.jpg);
  /* background-image: url(../images/book-2.jpg); */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 110px;
}

section.upcoming-meetings .section-heading {
  text-align: center;
}

section.upcoming-meetings .categories {
  background-color: #cfcfcf;
  border-radius: 20px;
  padding: 40px;
  margin-right: 45px;
}

section.upcoming-meetings .categories h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1f272b;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

section.upcoming-meetings .categories ul li {
  display: inline-block;
  margin-bottom: 15px;
}

section.upcoming-meetings .categories ul li a {
  font-size: 15px;
  color: #1f272b;
  font-weight: 500;
  transition: all .3s;
}

section.upcoming-meetings .categories ul li a:hover {
  color: #a12c2f;
}

section.upcoming-meetings .categories .main-button-red {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 15px;
}

section.upcoming-meetings .categories .main-button-red a {
  width: 100%;
  text-align: center;
}

.meeting-item {
  margin-bottom: 30px;
}

.meeting-item .thumb {
  position: relative;
}

.meeting-item .thumb img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.meeting-item .thumb .price {
  position: absolute;
  left: 20px;
  top: 20px;
}

.meeting-item .thumb .price span {
  font-size: 16px;
  color: #1f272b;
  font-weight: 600;
  background-color: rgba(250,250,250,0.9);
  padding: 7px 12px;
  border-radius: 10px;
}

.meeting-item .down-content {
  background-color: #cfcfcf;
  padding: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.meeting-item .down-content .date {
  float: left;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.meeting-item .down-content .date h6 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a12c2f;
}

.meeting-item .down-content .date span {
  display: block;
  color: #1f272b;
  font-size: 22px;
  margin-top: 7px;
}

.meeting-item .down-content h4 {
  font-size: 18px;
  color: #1f272b;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.meeting-item .down-content p {
  margin-left: 50px;
  color: #1f272b;
  font-size: 14px;
}



/*
---------------------------------------------
apply now
---------------------------------------------
*/

section.apply-now {
  background-image: url(../images/apply-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px;
}

section.apply-now .item {
  background-color: rgba(250,250,250,0.15);
  padding: 40px;
  margin-bottom: 30px;
}

section.apply-now .item h3 {
  color: #cfcfcf;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

section.apply-now .item p {
  color: #cfcfcf;
  margin-bottom: 20px;
}

.accordions {
  border-radius: 20px;
  padding: 40px;
  background-color: #cfcfcf;
  margin-left: 45px;
}
.accordions .accordion {
  border-bottom: 1px solid #eee;
}
.accordions .last-accordion {
  border-bottom: none;
}
.accordion-head {
  padding: 20px;  
  font-size: 18px;
  font-weight: 700;
  color: #1f272b;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}
.accordion-head.is-open {
  /*color: #C4772B;*/
  border-bottom: none;
}
.accordion-head.is-open .icon {
  transform: rotate(45deg);
}
.accordion-body {
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
  border-bottom: 1px solid #cfcfcf;
}
.accordion-body > .content {
  padding: 20px;
  padding-top: 0;
}


.service-content h3 {
  font-size: 25px;
  font-weight: bold;
}

.service-content .highlight {
  color: #C4772B;
}

/* 
---------------------------------------------
courses
--------------------------------------------- 
*/

section.our-courses {
  background-image: url(../images/meetings-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 130px;
}

.our-courses .item .down-content {
  background-color: #cfcfcf;
}

.our-courses .item .down-content h4 {
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center; 
  border-bottom: 1px solid #eee;
}

.our-courses .item .down-content .info {
  padding: 25px;
}

.our-courses .item .down-content .info ul li {
  display: inline-block;
  margin-right: 1px;
}

.our-courses .item .down-content .info ul li i {
  color: #C4772B;
  font-size: 14px;
}

.our-courses .item .down-content .info span {
  color: #a12c2f;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 100%;
}


/*
---------------------------------------------
our facts
---------------------------------------------
*/

section.our-facts {
  background-image: url(../images/facts-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px 125px 0px;
}

section.our-facts h2 {
  font-size: 38px;
  color: #cfcfcf;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

.count-area-content {
  text-align: center;
  background-color: rgba(250,250,250,0.15);
  border-radius: 20px;
  padding: 25px 30px 35px 30px;
  margin: 15px 0px;
}

.percentage .count-digit:after {
  content: '%';
  margin-left: 3px;
}

.count-digit {
    margin: 5px 0px;
    color: #C4772B;
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 18px;
    font-weight: 500;
    color: #cfcfcf;
    letter-spacing: 0.5px;
}

.new-students {
  margin-top: 45px;
}

section.our-facts .video {
  text-align: center;
  margin-left: 70px;
  background-image: url(../images/video-item-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}

section.our-facts .video img {
  padding: 170px 0px;
  max-width: 56px;
}



/* 
---------------------------------------------
contact us
--------------------------------------------- 
*/

section.contact-us {
  /*background-image: url(../images/meetings-bg.jpg);*/
  background-color: #1e2225;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}
/*linear-gradient(180deg, rgba(56,56,59,1) 0%, rgba(109,110,118,1) 92%)*/

section.contact-us #contact {
  background-color: #6d6e76;
  border-radius: 20px;
  padding: 40px;
}

section.contact-us #contact h2 {
  text-transform: uppercase;
  color: #e7e2df;
  border-bottom: 1px solid #e7e2df;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

section.contact-us #contact input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #e7e2df;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  color: #7a7a7a;
  padding: 0px 15px;
  margin-bottom: 30px;
}

section.contact-us #contact textarea {
  width: 100%;
  min-height: 140px;
  max-height: 180px;
  border-radius: 20px;
  background-color: #e7e2df;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  color: #7a7a7a;
  padding: 15px;
  margin-bottom: 30px;
}

section.contact-us #contact button {
  font-size: 13px;
  color: #cfcfcf;
  background-color: #a12c2f;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  border: none;
  outline: none;
}

section.contact-us #contact button:hover {
  opacity: 0.9;
  color: white;
}

section.contact-us .right-info {
  background-color: #C4772B;
  border-radius: 20px;
  padding: 40px;
}
section.contact-us .right-info a {
  color: #cfcfcf;
  font-weight: normal;
}

section.contact-us .right-info a:hover {
  color: white;
}

@media (max-width: 1400px) {
	section.contact-us .right-info {
		padding: 30px;
	}
}

@media (max-width: 1200px) {
	section.contact-us .right-info {
		padding: 23px 0px;
	}
}


@media (max-width: 997px) {
	section.contact-us .right-info ul li {
		width: 100%;
	}
}


section.contact-us .right-info ul li {
  display: inline-block;
  border-bottom: 1px solid rgba(250,250,250,0.15);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

section.contact-us .right-info ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

section.contact-us .right-info ul li h6 {
  color: #404a40;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

section.contact-us .right-info ul li span {
  display: block;
  font-size: 18px;
  color: #cfcfcf;
  font-weight: 700;
}

.footer {
  text-align: center;
  /*margin-top: 140px;*/
  border-top: 1px solid rgba(250,250,250,0.15);
  padding: 5px 0px;

  font-family: 'AlegreyaSansRegular', 'sans-serif';
  background-color: #1e1e1e;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 900;  
}
.footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: #cfcfcf;
}

.footer a, .footer a:active, .footer a:visited, .footer a:hover {
  color: #3498db;
}

/*
---------------------------------------------
heading page
---------------------------------------------
*/

section.heading-page {
  background-image: url(../images/heading-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 110px;
  text-align: center;
}

section.heading-page h6 {
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #cfcfcf;
  letter-spacing: 1px;
}

section.heading-page h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #cfcfcf;
  letter-spacing: 1px;
}


/*
---------------------------------------------
upcoming meetings page
---------------------------------------------
*/

section.meetings-page {
  background-image: url(../images/meetings-page-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 0px;
}

section.meetings-page .filters {
  text-align: center;
  margin-bottom: 60px;
}

section.meetings-page .filters li {
  font-size: 13px;
  color: #a12c2f;
  background-color: #cfcfcf;
  padding: 11px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  margin: 0px 3px;
}

section.meetings-page .filters ul li.active,
section.meetings-page .filters ul li:hover {
  background-color: #a12c2f;
  color: #cfcfcf;
}

section.meetings-page .pagination {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
}

section.meetings-page .pagination ul li {
  display: inline-block;
}

section.meetings-page .pagination ul li a {
  width: 40px;
  height: 40px;
  background-color: #cfcfcf;
  border-radius: 10px;
  color: #1f272b;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
  transition: all .3s;
}

section.meetings-page .main-button-red {
  text-align: center;
}

section.meetings-page .main-button-red a {
  padding: 12px 60px;
  text-align: center;
  margin-top: 30px;
}

section.meetings-page .pagination ul li.active a,
section.meetings-page .pagination ul li a:hover {
  background-color: #a12c2f;
  color: #cfcfcf;
}

.meeting-single-item .thumb {
  position: relative;
}

.meeting-single-item .thumb img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.meeting-single-item .thumb .price {
  position: absolute;
  left: 20px;
  top: 20px;
}

.meeting-single-item .thumb .price span {
  font-size: 16px;
  color: #1f272b;
  font-weight: 600;
  background-color: rgba(250,250,250,0.9);
  padding: 7px 12px;
  border-radius: 10px;
}

.meeting-single-item .down-content {
  background-color: #cfcfcf;
  padding: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.meeting-single-item .thumb .date {
  position: absolute;
  background-color: rgba(250,250,250,0.9);
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 15px 0px;
  border-radius: 10px;
  right: 20px;
  top: 20px;
}

.meeting-single-item .thumb .date h6 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a12c2f;
}

.meeting-single-item .thumb .date span {
  display: block;
  color: #1f272b;
  font-size: 22px;
  margin-top: 7px;
}

.meeting-single-item .down-content h4 {
  font-size: 22px;
  color: #1f272b;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.meeting-single-item .down-content h5 {
  font-size: 18px;
  color: #1f272b;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 15px;
}

.meeting-single-item .down-content p {
  color: #1f272b;
  font-size: 14px;
}

.meeting-single-item .down-content p.description {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.meeting-single-item .down-content .share {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

.meeting-single-item .down-content .share h5 {
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}

.meeting-single-item .down-content .share ul li {
  display: inline;
}

.meeting-single-item .down-content .share ul li a {
  font-size: 14px;
  color: #1f272b;
  transition: all .3s;
}

.meeting-single-item .down-content .share ul li a:hover {
  color: #C4772B;
}

/* Meeting item column */
.templatemo-item-col {
	width: 31%;
}

@media (max-width: 992px) {
	.templatemo-item-col {
		width: 45%;
	}
}

@media (max-width: 767px) {
	.templatemo-item-col {
		width: 100%;
	}
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 992px) {

  /*
  .main-banner .caption {
    top: 60%;
  }
  */
  .main-banner .caption h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .main-banner .caption .main-button-red {
    margin-top: 15px;
  }
  /*
  .services {
    margin-top: 60px;
  }
  */
  section.upcoming-meetings {
    padding-top: 400px;
  }

  section.upcoming-meetings .categories {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .accordions {
    margin-left: 0px;
  }

  .new-students {
    margin-top: 15px;
  }

  section.our-facts .video {
    margin-left: 0px;
    margin-top: 15px;
  }

  section.contact-us #contact {
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {

  .sub-header .left-content p {
    display: none;
  }

  .sub-header .right-icons {
    text-align: center;
  }

  .main-nav .nav .sub-menu {
    display: none;
  }

  .header-area .main-nav .nav li ul.sub-menu li a {
    color: #1f272b;
  }

}