<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>

<body style="position:relative;">
    
{% include header-standard.html %}
<div style="padding-top:100px;">
    {{ content }}
</div>

{% include footer.html %}

{% include footscripts.html %}
<script>
    jQuery(document).ready(function($) {
      "use strict";
// for highlighting the items on the navigation bar
const scrollSpy = new bootstrap.ScrollSpy(document.body, {
  target: '#main-menu',
  offset: 300
});
    });

</script>
</body>

</html>